html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Consolas", "Avenir";
  font-weight: 300;
  color: #293462;
}

body {
  background-color: #FFFFFF;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 0.5em;
}

h2 {
  color: #293462;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 0.5em;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
  color: #586C88;
}

h4 {
  font-size: 0.9em;
  font-weight: 400;
  color: #D4DBE5;
}

p {
  font-size: 1em;
  color: #586C88;
}

.btn-peer {
  border: none;
  border-left: 1.5em solid #637CEA;
  text-align: left;
  background-color: transparent;
  color: #000000;
  font-weight: 400;
  padding-left: 1em;
  margin-top: 0.5em;
  width: 100%;
  max-width: 10em;
  outline: none;
  cursor: auto;
  white-space:nowrap;
}

.CodeMirror {
  font-family: "Consolas";
  font-weight: 400;
  font-size: 1.2em;
  min-height: 60vh;
}

.section-mirror {
  color: #B1B8C3;
  padding: 1em;
  padding-right: 2em;
}

.user-profile {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.user-dot {
  height: 3.5em;
  width: 3.5em;
  background-color: #293462;
  border-radius: 50%;
  display: inline-block;
}

.main-header {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  color: #293462;
}

.main-content {
  background-color: #FFFFFF;
  min-height: 100vh;
  padding: 1.5em;
}

.main-footer {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.side-bar {
  background-color: #F2F4F7;
  height: 100%;
  min-height: 100vh;
  padding: 1.5em;
}

.input-join {
  margin-top: 1.5em;
  border: none;
  background-color: transparent;
  height: 1.8em;
  width: 100%;
}

.input-join:focus {
  outline: none;
}

.btn-join {
  background-color: transparent;
  width: 100%;
  border: 1.5px solid #293462;
  padding: 0.3em;
  margin-bottom: 1.5em;

}

.btn-join:focus {
  outline: none;
}

.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
