html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Consolas", "Lato", "Helvetica Neue";
  font-weight: 300;
  color: #293462;
}

body {
  background-color: #FFFFFF;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 0.5em;
}

h2 {
  color: #293462;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 0.5em;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
  color: #586C88;
}

p {
  font-size: 1em;
  color: #586C88;
}

hr{

}

.btn-peer {
  border: none;
  border-left: 1.5em solid #637CEA;
  text-align: left;
  background-color: transparent;
  color: #000000;
  font-weight: 400;
  padding-left: 1em;
  margin-top: 0.5em;
  width: 100%;
  max-width: 10em;
  outline: none;
  cursor: auto;
  white-space:nowrap;
}

.CodeMirror {
  font-family: "Consolas";
  font-weight: 400;
  font-size: 1.2em;
}

.section-header {
  padding: 1em;
  padding-top: 2.5em;
}

.section-peers {
  padding-left: 2em;
}

.section-mirror {
  padding: 1em;
  padding-right: 2em;
}

.section-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  text-align: right;
  padding-right: 0.5em;
}

.user-profile {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.user-dot {
  height: 3.5em;
  width: 3.5em;
  background-color: #293462;
  border-radius: 50%;
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

.main-header {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  color: #293462;
}

.main-content {
  background-color: #FFFFFF;
  min-height: 100vh;
  padding: 1.5em;
}

.side-bar {
  background-color: #F2F4F7;
  min-height: 100vh;
  padding: 1.5em;
}

.top-color-1 {
  background-color: #E5E8EE;
  height: 2.3em;
}

.top-color-2 {
  background-color: #5F63D4;
  height: 2.3em;
}

.top-color-3 {
  background-color: #809AE5;
  height: 2.3em;
}
